@use '../../utils';
@use '../variables';

$clr-row-border: #8a8a8a;
$row-border-width: 1px;

.table {
    background-color: variables.$bg-solid;
    color: variables.$txt-clr;
    width: 100%;
    border-collapse: collapse;
    border-radius: .5rem;
    font-size: .9rem;
    text-align: left;

    td, th {
        padding: .7rem 1rem;
    }   

    .expandable {
        max-width: 15ch;
        word-break: break-all;
        
        button {
            opacity: 60%;
        }
    }

    td:has(.el-modify-btn) > div {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    input[type='checkbox'] {
        width: 1rem;
        margin: 0;
    }

    td:has(input[type='checkbox']),
    th:has(input[type='checkbox']) {
        width: 1rem;
    }
}

.table-header,
th.table-header {
    padding-bottom: 1rem;

    div {
        height: 100%;
    }
}

.table-title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1.6rem;
    font-weight: normal;

    svg {
        fill: variables.$txt-clr !important;
        min-width: 2rem;
        min-height: 2rem;
    }
}

.table-options {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;

    button {
        color: variables.$txt-clr;
        padding-block: 0.7rem;
        padding-inline: 1.5rem;
        border-radius: 0.5rem;
        transition: 250ms background-color linear;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background-color: white;
        }
    }
}

.table-fields {
    position: sticky;
    top: 0;
    background-color: variables.$bg-solid;
    z-index: 10;
    
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: $row-border-width;
        background-color: $clr-row-border;
        bottom: 0;
        left: 0;
    }
}

.table-row {
    border-bottom: $row-border-width solid $clr-row-border;
    transition: 200ms background-color linear;
    min-width: fit-content;

    &:hover{
        background-color: variables.$bg-solid-sec;
    }

    &:last-of-type {
        border: none;
    }
}

.el-modify-btn {
    display: inline-block;

    filter: opacity(60%);
    transition: 200ms filter linear;

    &:hover {
        filter: opacity(90%);
    }

    svg{
        fill: variables.$txt-clr !important;
        height: 1.1rem;
    }
}

.no-records {
    text-align: center;
    padding: 1rem;
    font-weight: normal;
}
