@use '../../utils';

.login-wrapper {
    @include utils.center();
    height: 100vh;
}

$bg-clr: var(--bg-dark);
$text-clr: var(--text-clr-dark);

.login-box {
    // light
    --bg-light: hsla(0, 0%, 100%, 0.4);
    --text-clr-light: black;

    // dark
    --bg-dark: hsla(0, 0%, 20%, 0.4);
    --text-clr-dark: white;

    width: 20vw;
    border-radius: 2.5rem;
    backdrop-filter: blur(10px);
    border: 1px solid $text-clr;
    background-color: $bg-clr;
    padding: 3rem;

    .title {
        font-family: 'Pixelify Sans', sans-serif;
        font-weight: 500;
        font-size: 3vw;
        text-align: center;
        margin-bottom: 2rem;
        color: $text-clr;
    }

    .login-btn {
        width: 100%;
        padding-block: 1vw;
        padding-inline: 2rem;
        border-radius: 50rem;
        background-color: #003580;
        border: 1px solid #003580;
        font-size: 1.1rem;
        color: $text-clr;
        margin-top: 1vw;
        
        &:hover {
            background-color: #0045a5;
            border-color: #0045a5;
        }
    }
}

.input-box {
    @include utils.flex($wrap: nowrap, $gap: .7vw);
    padding-block: .7vw;
    padding-inline: 1.5rem;
    border-radius: 50rem;
    background-color: transparent;
    border: 1px solid $text-clr;
    margin-bottom: 1vw;
    
    input {
        background-color: transparent;
        border: none;
        color: $text-clr;
        font-size: 1rem;

        &:focus-visible {
            outline: none;
        }
    }

    svg {
        fill: $text-clr;
    }
}

.login-error {
    color: red;
    font-size: 1.1rem;
    margin-top: .5rem;
}