@use '../../utils';
@use '../variables';

.login-wrapper {
    @include utils.center();
    height: 100vh;
}

.login-box {
    width: 20vw;
    border-radius: 2.5rem;
    backdrop-filter: blur(10px);
    border: 1px solid variables.$txt-clr;
    background-color: variables.$bg-trans;
    padding: 3rem;

    .title {
        font-family: 'Pixelify Sans', sans-serif;
        font-weight: 500;
        font-size: 3vw;
        text-align: center;
        margin-bottom: 2rem;
        color: variables.$txt-clr;
    }

    .login-btn {
        width: 100%;
        padding-block: 1vw;
        padding-inline: 2rem;
        border-radius: 50rem;
        background-color: #003580;
        border: 1px solid #003580;
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
        margin-top: 1vw;
        
        &:hover {
            background-color: #0045a5;
            border-color: #0045a5;
        }
    }
}

.input-box {
    @include utils.flex($wrap: nowrap, $gap: .7vw);
    padding-block: .7vw;
    padding-inline: 1.5rem;
    border-radius: 50rem;
    background-color: transparent;
    border: 1px solid variables.$txt-clr;
    margin-bottom: 1vw;
    
    input {
        background-color: transparent;
        border: none;
        color: variables.$txt-clr;
        font-size: 1rem;

        &:focus-visible {
            outline: none;
        }
    }

    svg {
        fill: variables.$txt-clr;
    }
}

.login-error {
    color: red;
    font-size: 1.1rem;
    margin-top: .5rem;
}