@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500&display=swap');

body {
    --bg-light: url('/img/view/management-light.svg');
    --bg-dark: url('/img/view/management-dark.svg');

    background-image: var(--bg-dark);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center bottom;
    background-size: 100% auto;
}

.input {
    outline: none;
    box-sizing: border-box;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 1rem;
    background-color: #ddd;
    
    &:focus {
        background-color: #e9e9e9;
    }
}

.submit-btn {
    outline: none;
    border: none;
    box-sizing: border-box;
    padding-block: 1rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border-radius: 1rem;
    background-color: rgb(151, 51, 160);
    color: white;
    cursor: pointer;
    transition: 200ms background-color;

    &:focus, &:hover {
        background-color: lighten(rgb(151, 51, 160), 10%);
    }
}